body{
    
}
@media (max-width: 1000px) {
  
  
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    float: top;
    font-size: 11px;
}

.navbar-nav {
    float: right;

}
.navbar li a, .navbar .navbar-right {
      color: #fff !important;
      margin-left: 8px;
      margin-right: -24px;

  }
}
@media (max-width: 900px) {
  
  
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    float: top;
    font-size: 10px;
}

.navbar-nav {
    float: left;
}
.navbar li a, .navbar .navbar-right {
      color: #fff !important;
      margin-left: 8px;
      margin-right: -24px;

  }
}
@media (max-width: 768px) {
  
  
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    float: top;
    font-size: 9px;
}

.navbar-nav {
    float: left;
}
.navbar li a, .navbar .navbar-right {
      color: #fff !important;
  }
}

/*Meu pedaço de Código*/

.navbar {
      margin-bottom: 0;
      background-color: /*#337ab7;*/ #172c94;
      z-index: 9999;
      border: 1; /*borda da navbar*/
      font-size: 14px !important;
      line-height: 1.42857143!important;
      letter-spacing: 2px;
      border-radius: 0;
      font-family: Arial;
      height: 90px;/*altura da navbar*/
      text-align: right;
  }
 /* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.navbar-toggle .icon-bar.icon-bar {
    margin-top: 4px;
    color:#fff
}
.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 5px;
    border-radius: 1px;
}
.img-responsive{
    display: block;
    min-width: 50%;
    min-height: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f7f5f5;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #15568e;
}
 
  .toggle {
    margin: 5px 5px 0 0;
}

  .navbar-collapse{
    background-color: /*#337ab7;*/ #172c94;
    border: 0;
    border-radius: 0;
   }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
   .navbar li a, .navbar .navbar-right {
      color: #fff !important;
      margin-top: 10px;

  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #172c94 !important; /*#337ab7;*/ 
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #172c94 !important;/*#337ab7;*/
  }


.navbar-brand-logo .logo{
    float: left;
    overflow: hidden;
    width: 120px;
    vertical-align: middle;
    height:80px;
}

@media (min-width: 768px){
    .navbar-form {
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .navbar-search-form{
        display: none;   
    }
    
    .navbar-nav > li > .dropdown-menu{
        display: block;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }
    
    .navbar-nav > li.open > .dropdown-menu{
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }
    
    .dropdown-menu:before{
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -11px;
    }
    
    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -10px;
    }
    .navbar-left {
    float: left !important;
  }
    .navbar-right {
    float: right !important;
    margin-right: -40px;
  }
    .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
    
}

@media (max-width: 768px){ 
    .navbar-transparent{
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover, .navbar-transparent .dropdown-menu > li > a:focus, [class*="navbar-ct"] .dropdown-menu > li > a:hover, [class*="navbar-ct"] .dropdown-menu > li > a:focus{
        color: #FFFFFF;
        background-color: rgba(0,0,0,0);
        opacity: 1;
    }
    .navbar-transparent .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
        color: #FFFFFF;
        opacity: 0.8;
    }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0,0,0,0);
        border-color: #428BCA;
    }
    .navbar-collapse{
        text-align: right;
    }
    .navbar-collapse .navbar-form {
        width: 180px;
        margin: 0 auto;
    }
    
}


.blurred-container{
  position:relative;
  width:100%;
  height:540px;
  top:0;
  left:0;
}
.blurred-container > .img-src{
    position:fixed;
    width:100%;
    height:540px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}
.blur{
  opacity:0;
}

@media (max-width: 991px){
    .img-src{
       
 background-size: 100%;
        background-position: top;
    }
}
.main{
    background-color: #FFFFFF;
    position: relative;
}
h4{
    line-height: 1.4em;
}
.space-200{
    height: 200px;

}
   .navbar-left {
    float: left !important;
  }
    .navbar-right {
    float: right !important;
  }
    .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
